// .search__container {
//     display: flex;
//     align-items: center;
//     gap: 1vh;
//     border-radius: 50px;
//     border: 2px solid black;
//     width: 40vw;
//     height: 5vh;
//     background-color: white;
// }

// .search__container input {
//     width: 90%;
//     border-radius: 50px;
//     font-size: 3vh;
//     border: none;
//     outline: none;
//     outline-offset: 0;
//     cursor: col-resize 10; 
// }

// .searchLogo {
//     margin-left: 2vh;
//     width: 3vh;
//     height: 3vh;
// }

.search_bar_container {
    padding-top: 20vh;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.cities {
    background-color: bisque;
}