.search_bar_container {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    font-weight: 500;
}

.cities {
    background-color: bisque;
}